nav {
  color: var(--text-light);
  transition: background-color 0.3s ease, transform 0.1s ease;
  padding: var(--spacing-md);
  display: flex;
  justify-content: space-between; 
  align-items: center;
  gap: 1em;
  animation: slideDown 0.8s ease-in-out;
  position: sticky;
  background-color: var(--background-dark);
}

nav:hover {
  background-color: rgb(191, 236, 243, 0.7);
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: var(--spacing-md);
}

nav .logo {
  margin-right: auto; 
}

nav ul li {
  display: inline-flex;
  font-weight: bold;
  font-size: 1.25em;
  padding: 0.5em 1em;
  border-radius: 0.5em;
  background: rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
  align-items: center;
  justify-content: center;
  text-align: center;
}

nav ul li:hover {
  background: rgba(191, 236, 243, 0.3);
}

nav ul li a {
  white-space: nowrap;
  color: var(--text-light);
  text-decoration: none;
  position: relative;
}

nav ul li a::after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background: var(--primary-color);
  left: 0;
  bottom: -5px;
  transition: width 0.3s ease;
}

nav ul li a:hover::after {
  width: 100%;
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
  }

  nav ul {
    flex-direction: column;
    gap: var(--spacing-sm);
  }

  nav ul li {
    padding: 0.5em 1em; 
    width: auto; 
  }
}
